
body{
    width: 1440px;
    border: 1px solid;
    margin: 0 auto;
    background-color: white;
}
header{
    /* background-color: aqua; */
    margin:  0 auto;
    width: 1200px;
    height: 90px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFCF7;
}
.header{
    width: 251px;
    border: none;
}
.header1{
    width: 400px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
li{ color: red;
width: 121px;
bornone;
display: flex;
}
a :hover{
    color: rebeccapurple    ;
}
.bir{
    background-color: gray;
    width: 1200px;
    height: 400px;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto;
    color:#FEFCF7;
    position: relative;
   
}
.birr{
    position: absolute;
    width: 493px;
    height: 250px;
    display: flex;
    flex-direction: column;
    top: 49px;
    left: 40px;
  
}
.link{
    width: 130px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #0E8784;
    color: #FEFCF7;
}
h1{
    font-family: 'Bree Serif', serif;
    /* font-family: 'Roboto', sans-serif; */
    size: 72px;
    line-height: 72px;
}
.ikki{
    width: 1200px;
    height: 750px;
    border: none;
    margin: 0 auto  ;
    background-color: #F2F2F2;
    position: relative;
}
.two{
    width: 900px;
    border: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 270px;
left:150px;
background-color: #F2F2F2;;

}
.two1{
    width: 900px;
    border: none;
    position: absolute;
    opacity: 0.3;
    left:150px;
    top:200px;
    
}
.two2{
    width: 223px;
    border: none;
    text-align: center;
    opacity: 0.8;
}
.rasm{
    width: 223px;
}
.our{
    width: 900px;
}
.uch{
    width: 1200px;
    height: 550px;
    margin: 0 auto ;
    border: 1px solid;
    background-color: #0b1616;
    border-radius: 7px;
    position: relative;
}
.uch3{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 300px;
    left: 50px;
}
.uch33{
    width: 350px;
    height: 400px;
   /* display: flex; */
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   text-align: center;
    background-color: #0E8784;
    color: #F2F2F2;
    z-index: 1;
   
}
.uch31{
    position: absolute;
    width: 500px;
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 350px;
}
h2{
    font-family: 'Bree Serif', serif;
    Size:40px;
    Line height:48px;
}
.tort{
    width: 1200px;
    height: 1000px;
    margin: 0 auto ;
    border: none;
    background-color:  #ffffff;
    position: relative;
}
.tort1{
position: absolute;
width: 200px;
height: 50px;
border: none;
top: 200px;
color: #83888F;
}
.tort2{position:absolute;
top: 350px;
    width: 31px;
    height: 31px;
}
.tort21{
    position:absolute;
    top: 350px;
    width: 31px;
    height: 31px;
    left: 350px;
}
.tort22{
    position:absolute;
    width: 31px;
    height: 31px;
    top: 350px;
    left: 700px;
}
.tort3{
    position: absolute;
    width: 322px;
    height: 5px;
    background-color: #FDD6BA;
    left: 377px;
    top: 363px;
}
.tort4{
    position: absolute;
    width: 322px;
    height: 5px;
    background-color: #FDD6BA;
    top: 363px;
    left: 27px;
}
.tort5{
    width: 900px; 
    border: none;
    font-family: 'Bree Serif', serif;
    position: absolute;
    display: flex;
    flex-direction: row;
  top:500px ;
  background-color: #FEFCF7;
}
.tort6{
    width: 155px;
    height: 35px;
    background-color: #0E8784;
    border: none;
    border-radius: 8px;
    position: absolute;
    top: 830px;
}
footer{
    background-color: #2C343E;
    width:1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
color: #F2F2F2;
align-items: center;
}
.box1{
    width: 400px;
    display: flex;
    flex-direction: row;
    color: #83888F;

}
.box2{
    width: auto;
    color: #F2F2F2;
    display: flex;
    flex-direction: row;
}
.box11{
    border: none;
    width: 120px;
    height: 30px;
}
.box22{
    border: none;
    width: 40px;
    height: 30px;
}